@font-face {
    font-family: "Amatic";
    src: url(../fonts/AmaticSC-Bold.ttf);
}
@font-face {
    font-family: "Josefin";
    src: url(../fonts/JosefinSans-Bold.ttf);
}
body {
    font-family: "Josefin", sans-serif;
    margin: 0px;
    background-color: #f4edf1;
}

#headerPic {
    position: absolute;
    background-image: url("../img/headerPicCrop.jpg");
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 3;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Amatic", sans-serif;
    font-size: min(130px, 15vw);
    color: #EDF4ED;
    background-color: #00000048;
    width: 92%;
    max-width: 670px;
    height: min(124px, 15vw);
    margin-top: 10vh;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}
#headerListButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    background-image: linear-gradient(#ffffff00, #31411a);
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0px;
}
.headerButtons {
    text-decoration: none;
    color: #EDF4ED;
    font-size: min(35px, 4vw);
    margin-bottom: 4vh;
}
.headerButtons:hover {
    color: #e7ff60;
}
nav {
    display: grid;
    grid-template-columns: 28% repeat(3, 24%);
    grid-template-rows: 1fr;
    grid-template-areas:
        "navLogo navProducts navShops navContact";
    background-color: #79B971;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    height: 80px;
    width: 100%;
    z-index: 1;
}
nav div a {
    text-decoration: none;
    color: #EDF4ED;
    font-size: min(25px, 3vw);
}
nav div a:hover {
    color: #e7ff60;
}
.navButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* hamburger menu */
#navMenu {
    display: none;
}
#iconMenu {
    color: #edf4ed;
    font-size: 40px;
    transform: rotate(0deg);
    transition: .3s;
}
#navMenu input:checked ~ #iconMenu {
    transform: rotate(90deg);
}
#navMenu input {
    z-index: 1;
    width: 40px;
    height: 40px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
#openMenu {
    top: 80px;
    left: 0px;
    height: auto;
    margin: 0px;
    padding: 0px 0px 40px 0px;
    width: 100%;
    list-style: none;
    background-color: #354124;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: top;
    transform: scaleY(0);
    transition: .3s;
}
#navMenu input:checked ~ #openMenu {
    transform: scaleY(1);
}
#openMenu li {
    padding-top: 40px;
}
#openMenu li a {
    font-size: 25px;
}
/* fin hamburger menu */
#navLogo {
    grid-area: navLogo;
    justify-content: flex-start;
    margin-left: 10%;
    height: 80px;
}
#navLogoTxt {
    font-family: "Amatic";
    font-size: min(7vw, 80px);
    margin-top: -10px;
}
#navProducts {
    grid-area: navProducts;
}
#navShops {
    grid-area: navShops;
}
#navContact {
    grid-area: navContact;
}
#filler {
    height: calc(100vh + 100px);
}
/* bandeaux */
.bandeau {
    margin-top: 200px;
    height: 500px;
    background-color: #AAD1B4;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.bandeauTxt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 100%;
    color: #ffffff;
    text-align: justify;
}
.bandeau img {
    height: min(110%, 50vw);
    border: 1px solid #EDF4ED;
}
.bandeauTxt h3 {
    font-size: 2.2em;
}
.bandeauTxt p {
    font-size: 1.5em;
}
/*Nos produits*/
.sectionTitle {
    text-align: center;
    font-size: 2.5em;
    color: #79B971;
    margin-top: 250px;
    margin-bottom: 120px;
}
#productList {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0px 15vw;
}
.productCategory {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    min-width: 430px;
    height: 30vw;
    min-height: 430px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 40px;
    text-decoration: none;
    opacity: 1;
    transition: .5s;
}
.productCategory:hover {
    background-size: 120%;
}
.productCategory h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 45px;
    font-size: 2em;
    color: #EDF4ED;
    background-color: #3541249d;
    border: none;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transition: .5s;
}
.productCategory:hover h4 {
    height: 95%;
    background-color: #38422ad8;
    border: 1px solid #EDF4ED;
}
#productImg1 {
    background-image: url(../img/gumCrop.jpg);
}
#productImg2 {
    background-image: url(../img/huileCrop.jpg);
}
#productImg3 {
    background-image: url(../img/infusionCrop.jpg);
}
#productImg4 {
    background-image: url(../img/ecigaretteCrop.jpg);
}
/*Nous retrouver*/
#containerFindUs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 10vw;
    margin-bottom: 150px;
}
#mapFindUs {
    width: 40vw;
    min-width: 500px;
    transform: scale(1);
    transition: .5s;
}
#mapFindUs:hover {
    transform: scale(1.2);
}
#contactFindUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    line-height: 120%;
}
#socialFindUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #AAD1B4;
    margin-top: 20px;
    padding: 30px 70px;
}
#socialFindUs a {
    text-decoration: none;
    color: #ffffff;
}
#socialFindUs a:hover {
    color: #e7ff60;
}
#otherFindUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #79B971;
    padding: 30px 0px;
}
/* footer */
footer {
    width: 100%;
    height: 120px;
    background-color: #90b98a;
}

/* queries bandeau et retrouver*/
@media screen and (max-width: 850px) {
    .bandeau {
        min-height: 400px;
        height: fit-content;
        margin-top: 200px;
        padding-bottom: 15px;
        flex-direction: column;
    }
    #bandeau2 {
        margin-top: 400px;
        flex-direction: column-reverse;
    }
    .bandeau img {
        margin: 0px 5vw;
        margin-top: -120px;
        height: 70vw;
    }
    .bandeauTxt {
        width: 90%;
    }
    #mapFindUs:hover { /* retrouver scale*/
        transform: scale(1);
    }
}
/* queries nav et produits et retrouver*/
@media screen and (max-width: 600px) {
    #headerListButtons { /* nav */
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        height: 30vh;
    }
    .headerButtons {
        font-size: 30px;
    }
    nav div:not(#navMenu) a:not(#navLogoTxt) {
        display: none;
    }
    nav {
        grid-template-columns: 80% 20%;
        grid-template-areas:
            "navLogo navBurger";
    }
    #navLogo {
        margin-left: 5%;
    }
    #navLogoTxt {
        font-size: min(80px, 18vw);
    }
    #navMenu {
        display: flex;
    }
    .productCategory { /* produits */
        width: 70vw;
        min-width: 0px;
        height: 70vw;
        min-height: 0px;
    }
    .productList {
        padding: 0px 10vw;
    }
    #containerFindUs {/* nous retrouver */
        padding: 0px 5vw;
    }
    #mapFindUs {
        width: 80vw;
        min-width: 0px;
        transition: none;
    }
}
@media (hover: none) {
    .productCategory {
        background-size: 120%;
    }
    .productCategory h4 {
        height: 95%;
        background-color: #38422ad8;
        border: 1px solid #EDF4ED;
    }
}